       body {
                background-color:#DBE2EF;

                }
            hr {
                
                border-color:red;
                border-width: 5px;
                width: 10%;
                border-style: none;
                border-top-style: dotted;
            }
            img {
                height: 220px;
            }
        